

* {
    margin: 0;
    padding: 0;
    text-decoration: n;
}

/* coloration du header et footer */
header {

    color: white;
    padding-bottom: 100px;
    padding-top: 50px;
    background: linear-gradient(0deg, rgba(42, 120, 94, 1) 0%, rgba(1, 54, 44, 1) 60%);
    display: flex;
    justify-content: space-between;
}

footer {
    text-align: center;
    color: aliceblue;
    background-color: #2a785e;
    padding: 40px 0;
    margin-top: 50px;
    top: 0;

}

/* Header */
h1 {
    text-align: left;
    margin-left: 40px;
    font-size: 30px;
    color: white;
    display: inline-flex;
    float: left;
    font-family: 'constantia';
    text-transform: uppercase;
}

.right {
    display: block;
}





.right p {
    text-align: end;
    margin-bottom: 20px;
    margin-right: 60px;
}

.right p:hover {
    text-decoration: underline;
}

.searchBar {
    position: relative;
    width: 200px;
    height: 40px;
    background-color: #ffffff;
    border-radius: 20px;
    margin-right: 50px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.searchBar input {
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 20px;
    font-size: 16px;
    background-color: #ffffff;
}

.searchBar i {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 18px;
    color: #2a785e;
}



/* BODY */
h2 {
    text-align: center;
    margin-top: 50px;
    color: rgba(1, 54, 44, 1);
    text-transform: uppercase;
    font-family: 'FrankRuhlLibre';
}

.userSection1 {
    display: grid;
    grid-template-columns: 50% 50%;
}

.userSection3 {
    min-height: 100vh;
}

.postDiv {
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 50px;
    padding: 40px;
    border: solid 2px rgba(42, 120, 94, 1);
    display: grid;
    grid-row: 30% 30% 30%;
    max-width: 100%;
}
.postDiv:hover {
    background-color: rgba(95, 158, 160, 0.362);
    color: white;
}

.postTitre,
.postBody,
.postName,
.commentsDiv {
    margin-bottom: 20px;
    text-decoration: none;
    color: black;
}

.backLink i {
    background-color: rgba(42, 120, 94, 1);
    padding: 10;
    margin-bottom: 20px;
    margin-top: -20px;
    color: aliceblue;
}



.bouton {
    display: flex;
    justify-content: center;
    margin: 50px;
}

.monBouton {
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 40px;
    border: solid 2px rgba(42, 120, 94, 1);
    background-color: rgba(42, 120, 94, 1);
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    cursor: pointer;
}

.monBouton:hover {
    background-color: white;
    color: rgba(42, 120, 94, 1);
}

.link {
    display: flex;
    justify-content: space-between;
}

/* 
FOOTER */

footer {
    background-color: #2a785e;
    padding: 40px 0;
    margin-top: 50px;
}
.accueil {
    text-align: center;
    color: white;
    display: block;
    text-decoration: none;
    padding-bottom: 10px;
}

.accueil:hover {
    text-decoration: underline;
}